{% extends 'layouts/default.html.twig' %}

{% block title %}List campaings!{% endblock %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                
                <table class="table table-bordered">
                    <caption><a class="btn btn-primary" href="{{ path('app_campaign_view') }}" ><i class="fas fa-plus"></i> Create new pixel</a></caption>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Token</th>
                            <th scope="col">Url</th>
                            <th scope="col">Method</th>
                            <th scope="col">Pixel</th>
                            <th scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaign in campaigns %}
                            <tr>
                                <th scope="row">{{ campaign.id }}</th>
                                <td>{{ campaign.token }}</td>
                                <td>{{ campaign.url }}</td>
                                <td>{{ campaign.method }}</td>
                                <td>{{ campaign.pixel }} % </td>
                                <td>
                                    <a class="btn btn-primary" href="{{ path('app_campaign_view', { campaign_id:campaign.id }) }}" ><i class="far fa-save"></i></a>
                                    <button class="btn btn-danger">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
