{% extends 'layouts/default.html.twig' %}

{% block title %}Campaign view{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-12 col-md-4">
                <div class="card mt-3">
                    <div class="card-body">
                        <form method="post">
                            <div class="form-group">
                                <label for="input-token">Token</label>
                                <input type="text" name="token" id="input-token" value="{{ campaign.token ?? '' }}" class="form-control" placeholder="Enter the token" required readonly>
                            </div>
                            <div class="form-group">
                                <label for="input-pixel">Url</label>
                                <input type="url" name="url" id="input-url" value="{{ campaign.url ?? '' }}" class="form-control" placeholder="Enter the url" required>
                            </div>
                            <div class="form-group">
                                <label for="input-select-pixel">Method</label>
                                <select name="method" id="input-select-method" class="form-control" placeholder="Select an option" required>
                                    <option hidden>-- Select an option --</option>
                                    <option value="GET" {% if campaign.method == 'GET' %} selected {% endif %}>GET</option>
                                    <option value="POST" {% if campaign.method == 'POST' %} selected {% endif %}>POST</option>
                                    <option value="PUT" {% if campaign.method == 'PUT' %} selected {% endif %}>PUT</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="input-pixel">Pixel</label>
                                <input type="text" name="pixel" id="input-pixel" value="{{ campaign.pixel ?? '' }}" class="form-control" placeholder="Enter the pixel percent" required>    
                            </div>
                            
                           <!-- <div class="form-group">
                                <label for="input-pixel">Pixel {{ campaign.pixel }}%</label>
                                <input type="range" name="pixel" value="{{ campaign.pixel }}" class="form-control-range" id="input-pixel">
                            </div> -->
                            <button class="button--submit btn btn-primary w-100 mb-2" type="submit">
                                Save
                            </button>
                            <button class="button--submit btn btn-danger w-100" type="button">
                                Cancel
                            </button>
                        </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock %}
